.App {
  text-align: center;
}

#nav{
  height: 40px;
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container{
  height: 400px;
  padding: 18px 0;
  display:flex;
  background: teal;
  margin: 40px;
  flex-direction: row;
  justify-content: space-around;
}